<script setup lang="ts">

import Button from '../components/Button.vue'
import {ref, Ref} from "vue";

const listSize : Ref<any> = ref([
  {name: 'md'},
  {name: 'lg'},
  {name: "xl"},
  {name: "xxl"}
])

</script>

<template>

  <h1 class="text-2xl font-bold">Кнопки (Button)</h1>

  <div class="mt-[20px]">
    <div  class="space-y-6">
      <h2 class="font-bold text-2xl my-3">Простые кнопки</h2>
      <div class="flex space-x-8">
        <Button color="accept" size="md" type="button" label="accept"/>
        <Button color="primary" size="md" type="button" label="primary"/>
        <Button color="danger" size="md" type="button" label="danger"/>
        <Button color="link" size="none" type="button" label="link"/>
        <Button color="secondary" size="md" type="button" label="secondary"/>
        <Button color="warning" size="md" type="button" label="warning" />
      </div>
      <div>
        <code class="bg-gray-400 text-black p-5 rounded" datatype="html" style="font-family: monospace">
          &lt;ui-btn color="accept" type="button" label="accept"/>
        </code>
      </div>
    </div>
  </div>

  <div class="mt-[75px]">
    <div class="space-y-6">
      <h2 class="text-2xl font-bold">Отключение кнопок</h2>
      <div class="flex space-x-8">
        <Button color="accept" size="md" type="button" label="accept" disabled/>
        <Button color="primary" size="md" type="button" label="primary" disabled/>
        <Button color="danger" size="md" type="button" label="danger" disabled/>
        <Button color="link" size="none" type="button" label="link" disabled/>
        <Button color="secondary" size="md" type="button" label="secondary" disabled/>
        <Button color="warning" size="md" type="button" label="warning" disabled />
      </div>
      <div>
        <code class="bg-gray-400 text-black p-5 rounded" datatype="html" style="font-family: monospace">
          &lt;ui-btn color="accept" type="button" label="accept" disabled/>
        </code>
      </div>
    </div>
  </div>

  <div class="mt-[75px]">
    <div class="space-y-6">
     <div  class="space-y-2">
       <h2 class="font-bold text-2xl">Размеры кнопок</h2>
       <div>
         <h3 class="text-lg font-bold">Список размеров</h3>
         <ul class="space-y-2 text-lg">
           <li v-for="(item, i) in listSize" :key="i">{{item.name}}</li>
         </ul>
       </div>
     </div>
    </div>
  </div>

</template>