<script setup lang="ts">
import {PropType, Ref, ref} from "vue";

const sizeButton : Ref<any> = ref({
  "md": 'px-[15px] py-[7.5px] max-w-[250px]',
  'none': 'p-0'
})

const colorButton: Ref<any> = ref({
  'accept': 'bg-green-600',
  'danger': 'bg-red-600',
  'primary': 'bg-blue-600',
  'link': 'p-0 text-black',
  'secondary': 'bg-[#5c636a]',
  'warning': 'bg-yellow-400'
})

const roundedCray : Ref<any> = ref({
  'rounded-cray-all': 'rounded',
  'rounded-cray-left': 'rounded-l',
  'rounded-cray-right': 'rounded-r',
  'rounded-cray-top': 'rounded-t',
  'rounded-cray-bottom' : 'rounded-b',
  'rounded-cray-none': 'rounded-none',
  'rounded-full': 'rounded-full'
})

const props = defineProps({
  label: {
    type: String as PropType<string|number>,
    default: 'click'
  },
  type: {
    type: String as PropType<'button'|'reset'|'submit'>,
    default: "button",
    require: false
  },
  size: {
    type: String as PropType<'md' | 'none'>,
    default: "md",
    require: false
  },
  color: {
    type: String as PropType<'accept' | 'danger' | 'primary' | 'link' | 'warning' | 'secondary'>,
    default: "accept",
    require: false
  },
  rounded: {
    type: String as PropType<'rounded-cray-all' | 'rounded-cray-left' | 'rounded-cray-right' | 'rounded-cray-top' | 'rounded-cray-bottom' | 'rounded-cray-none'>,
    default: 'rounded-cray-all'
  },
  disabled: {
    type: Boolean as PropType<boolean>,
    default: false
  }
})

</script>

<template>
  <button :type="type" :class="[`btn text-white `, sizeButton[size], colorButton[color], roundedCray[rounded]]" :disabled="disabled">
    {{label}}
  </button>
</template>