<script setup lang="ts">
import {PropType, toRef} from "vue";

const props = defineProps({
  types: {
    type: String as PropType<string>,
    require: true
  }
})

</script>

<template>
  <input type="" />
</template>