<script setup lang="ts">
import Button from "./components/Button.vue"
import groupButton from './components/GroupButton.vue'
import {ref, Ref} from "vue";

const route : Ref<any> = ref([
  {url: '/', label: 'Главная'},
  {url: '/button', label: 'Кнопки'},
  {url: '/group-button', label: 'Группы кнопок'},
  {url: '/input', label: 'Поля ввода'}
])
</script>

<template>
  <div class="flex h-full">
    <div class="nav w-[250px] h-full px-7 py-8 bg-white">
      <h1 class="font-bold text-2xl">ui-school</h1>
      
      <nav class="mt-[50px]">
        <ul class="space-y-6">
          <li v-for="(item, i) in route" :key="i">
            <router-link :class="['block rounded hover:bg-gray-400/70 w-full px-[10px] py-[5px] bg-gray-400/50']" :to="item.url">{{item.label}}</router-link>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-content p-[100px]">
      <router-view />
    </div>
  </div>
</template>

<style>
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #d0cece;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
